doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .main
      .navbar
        img#profile(src="https://i.imgur.com/7osa1ds.jpg" alt="Profile Picture")

        #header
          h1 Jonathan Mines
          p Full Stack Developer
          .line
          p: #[a(href="https://github.com/MinesJA") Github] #[a(href="https://medium.com/@jonathanmines") Medium]


        ul#menu.sidebar
          li
            a(href='/') Home
          li
            a(href="resume") Resume
          li
            a(href="projects") Projects
          li
            a(href="contact") Contact

      .content
        .page
          block content
