doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .main
      .navbar
        div
          img#profile(src="https://i.imgur.com/7osa1ds.jpg" alt="Profile Picture")

          #header
            h1 Jonathan Mines
            p Full Stack Developer
            p Brooklyn, NY
            p: a(href="mailto:minesja@gmail.com") MinesJA@gmail.com
            p(style='white-space:pre;')
            .line

            a(href='https://medium.com/@jonathanmines' target="_blank")
              img.logos(src="https://cdn-images-1.medium.com/max/1600/1*emiGsBgJu2KHWyjluhKXQw.png" alt="Medium Logo")

            a(href='https://github.com/MinesJA' target="_blank")
              img.logos(src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="Github Logo")

            a(href='https://www.linkedin.com/in/jonathan-mines-a8320252/' target="_blank")
              img.logos(src="https://image.freepik.com/free-icon/linkedin-logo-ios-7-interface-symbol_318-33633.jpg" alt="LinkedIn Logo")

            a(href='mailto:minesja@gmail.com' target="_blank")
              img.logos(src="https://www.shareicon.net/download/2015/09/24/106406_email.svg" alt="LinkedIn Logo")



          ul#menu.sidebar
            li
              a(href='/') Home
            li
              a(href="resume") Resume
            li
              a(href="projects") Projects

          p#disclaimer This site is built with Node, Express, and Jade

      .content
        .page
          block content
