extends layout

block content
  .header
    .line
    h1 Projects
    .line

    #project-grid

      .project
        h4 Stock This Product
        img.proj-photo(src="https://i.imgur.com/C8Bc9Xj.png" alt="Stock This Product")

      .project
        h4 Madlibs
        img.proj-photo(src="https://i.imgur.com/ymhY8QT.png" alt="Madlibs")

      .project
        h4 Flatiron Field Day
        img.proj-photo(src="https://i.imgur.com/0cqfSIz.png" alt="Field Day")

      .project
        h4 Tools of the Trade
        img.proj-photo(src="https://i.imgur.com/8pYD4Hf.png" alt="Tools of the Trade")
